@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("/css/Montserrat/Montserrat-Light.woff") format("woff"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/css/Montserrat/Montserrat-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("/css/Montserrat/Montserrat-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("/css/Montserrat/Montserrat-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("/css/Montserrat/Montserrat-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("/css/Montserrat/Montserrat-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("/css/Montserrat/Montserrat-Black.woff") format("woff"); }
.fas {
  font-family: "Font Awesome 5 Free Solid", "Font Awesome 5 Free" !important; }

.btn-back i {
  font-size: 6rem; }

body {
  overflow: hidden;
  height: 100%;
  background-color: #F6F6F8; }

a:link {
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none; }

button:focus {
  outline: none;
  text-decoration: none; }

h1 {
  font-family: 'Montserrat';
  font-weight: 700; }

h2 {
  font-family: 'Montserrat';
  font-weight: 600; }

h5,
h4 {
  font-family: 'Montserrat';
  font-weight: 700; }

h6 {
  font-family: 'Montserrat';
  font-weight: 300; }

a {
  color: #939A9E;
  font-family: 'Montserrat';
  font-weight: 400; }

.text-blue {
  color: #0079C8; }

.text-grey {
  color: #888888; }

.check-web-green {
  margin-top: 12rem;
  color: #07951A;
  font-size: 15rem; }

html {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  touch-action: none; }

body {
  margin: 0;
  height: 100vh;
  width: 100%; }

.blue-body {
  background-color: #0079C8; }

.title-welcome {
  font-size: 5.8rem;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 700; }

.welcome {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: 300; }

.welcome-login {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #0079C8;
  font-size: 4.3rem; }

.login-header {
  background-color: #939A9E;
  height: 15px; }

.header-full {
  background-color: #0079C8;
  height: 118px; }

/* FORM */
input,
select {
  width: 100%;
  height: 75px;
  border-radius: 47px;
  border: solid 3px #0079C8;
  background-color: #ffffff;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #888888;
  outline: none;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300; }

option {
  text-align: center !important; }

input::placeholder {
  font-size: 2.25rem;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  opacity: 50%; }

select,
input,
option {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  text-transform: uppercase; }

select {
  background: url(../img/arrow-down.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 680px;
  text-align-last: center; }

.button-login {
  width: 392px;
  height: 113px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background-color: #0079C8; }

select option {
  margin-left: 60px; }

button:disabled,
button[disabled] {
  background-color: #e6e6e6 !important; }

.border-blue {
  width: 528px;
  height: 75px;
  border-radius: 47px;
  border: solid 3px #0079C8;
  background-color: #ffffff;
  font-size: 2.5rem;
  outline: none;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  padding-top: 10px;
  position: fixed;
  bottom: 100px;
  left: 300px; }

.box-clave {
  height: 334px;
  width: 334px;
  margin: auto;
  border-radius: 25px; }
  .box-clave img {
    margin-top: 70px;
    margin-bottom: 30px; }
  .box-clave h4 {
    font-family: 'Montserrat';
    font-weight: 400; }

.box-menu {
  width: 232px;
  height: 232px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 40px; }

.box-certificados {
  width: 272px;
  height: 272px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 40px; }
  .box-certificados a {
    color: #939A9E; }

.box-excedentes {
  width: 100%;
  height: 116px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 40px; }

/* END FORM*/
hr {
  background-color: #0079C8;
  height: 2PX; }

footer {
  position: fixed;
  background-color: #0079C8;
  bottom: 0;
  width: 100%;
  height: 35px;
  text-align: right;
  color: white; }
  footer img {
    width: 200px;
    margin-right: 20px; }

.content-btn {
  position: absolute;
  bottom: 100px;
  margin: auto; }

.btn-gral {
  height: 113px;
  width: 392px;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.9rem;
  color: #ffffff; }

.back {
  background-color: #939A9E; }

.next {
  background-color: #0079C8; }

.logo {
  width: 150px;
  margin-top: 20%;
  margin-bottom: 120%; }

.user-header {
  margin-top: 35px; }

.text-usr {
  margin-top: 35px;
  color: #ffffff; }
  .text-usr h5 {
    line-height: 80%; }

.exit-header {
  margin-top: 40px;
  border-left: 1px solid #ffffff;
  padding-left: 30px; }

.lh-90 {
  line-height: 90%; }

.box-title {
  background-color: #ffffff;
  padding-top: 1.9rem;
  height: 102px;
  margin-top: -102px;
  opacity: 0.8; }
  .box-title h2 {
    font-family: 'Montserrat';
    font-weight: 700; }

.box-beneficiario {
  height: 103px;
  width: 100%;
  border-radius: 47px;
  background-color: #ffffff; }
  .box-beneficiario input {
    margin-top: 15px; }
  .box-beneficiario h5 {
    margin-top: 40px; }
  .box-beneficiario h3 {
    padding-top: 20px;
    font-style: italic; }

.box-licencias {
  height: 126px;
  width: 100%;
  border-radius: 47px;
  background-color: #ffffff; }
  .box-licencias input {
    margin-top: 15px; }
  .box-licencias h5 {
    margin-top: 30px; }
  .box-licencias h1 {
    padding-top: 30px;
    font-style: italic; }
  .box-licencias h4 {
    margin-top: 50px; }
  .box-licencias .img-status {
    margin-top: 40px;
    padding-left: 30px; }

.box-licencias-full {
  height: 204px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #0079C8;
  background-color: #ffffff; }
  .box-licencias-full input {
    margin-top: 15px; }
  .box-licencias-full h5 {
    margin-top: 10px; }
  .box-licencias-full h1 {
    padding-top: 30px;
    font-style: italic; }
  .box-licencias-full h4 {
    margin-top: 10px; }
  .box-licencias-full .border-left {
    border-left: 1px solid #939A9E; }
  .box-licencias-full .row {
    height: 100%; }

.box-input {
  height: 131px;
  width: 100%;
  border-radius: 17px;
  background-color: #ffffff; }
  .box-input h4 {
    margin-top: 35px; }
  .box-input h3 {
    margin-top: -5px; }

.status-pago {
  color: #007033; }
.status-pendiente {
  color: #A4219B; }
.status-recibido {
  color: #678003; }
.status-resolucion {
  color: #414141; }

.header-index {
  height: 300px;
  background-color: white;
  margin-top: 200px; }
  .header-index img {
    padding-top: 85px; }

.alert-img {
  margin-top: 12rem; }

.btn-nueva {
  height: 131px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: none; }

.btn-blue {
  background-color: #0079C8;
  color: #ffffff; }

.btn-white {
  border: 5px solid #0079C8;
  background-color: #ffffff;
  color: #0079C8; }

.blue-cuenta {
  height: 52px;
  width: 100%;
  border-radius: 13px;
  color: #ffffff;
  background-color: #0079C8;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.26rem;
  padding-top: 10px;
  margin-top: 8px; }

.modal-content {
  border: 10px solid #0079C8; }

.modal-backdrop {
  background-color: white; }

.menu-text {
  font-size: 3rem;
  color: #AFAFAF; }

.select-detail {
  font-size: 8rem;
  color: #AFAFAF; }
  .select-detail:active {
    color: #00549C;
    transform: scale(1.2); }

.box-detalle-blue {
  position: absolute;
  bottom: 250px;
  padding: 30px 60px;
  height: 194px;
  line-height: 130%;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #0079C8;
  border-radius: 10px; }

.spinner-border {
  width: 10rem;
  height: 10rem;
  border: 2.25em solid #00549C;
  border-top-color: #00549C;
  border-top-style: solid;
  border-top-width: 2.25em;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 2.25em;
  border-bottom-color: #00549C;
  border-bottom-style: solid;
  border-bottom-width: 2.25em;
  border-left-color: #00549C;
  border-left-style: solid;
  border-left-width: 2.25em;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial; }

.bold {
  font-family: 'Montserrat';
  font-weight: 700; }

.light {
  font-family: 'Montserrat';
  font-weight: 300; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + span {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 11px 4px 0 0;
  vertical-align: middle;
  background: url(../img/radio-uncheck.png);
  background-size: cover;
  cursor: pointer; }

input[type="checkbox"]:checked + span {
  background: url(../img/radio-check.png);
  background-size: cover; }

input[type="radio"] {
  display: none; }

input[type="radio"] + span {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 25px 4px 0 0;
  vertical-align: middle;
  background: url(../img/radio-uncheck.png);
  background-size: cover;
  cursor: pointer; }

input[type="radio"]:checked + span {
  background: url(../img/radio-check.png);
  background-size: cover; }

.check-visible {
  display: block !important;
  background-color: #0079C8;
  height: 50px;
  margin-top: 20px; }

.terminos {
  position: absolute;
  bottom: 250px;
  opacity: 0.5; }

#boton-cambio,
#boton-cambio1,
#boton-cambio2 {
  background-color: rgba(0, 0, 0, 0);
  border: none; }

.paginador {
  width: 100%;
  height: 50px;
  margin: 50px auto;
  text-align: center; }

.arrow-next {
  font-size: 2rem;
  display: inline-block;
  margin: 0 0.2em 0 0.2em; }

.arrow-prev {
  font-size: 2rem;
  display: inline-block;
  margin: 0 0.2em 0 0.2em; }

.pag-box-active {
  height: 56px;
  width: 56px;
  background-color: #ffffff;
  border-radius: 12px;
  display: inline-block;
  font-size: 1.8rem;
  margin: 0 0.2em 0 0.2em;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #0079C8;
  border: 6px solid #0079C8; }

.pag-box-no-active {
  height: 56px;
  width: 56px;
  background-color: #0079C8;
  border-radius: 12px;
  font-size: 1.8rem;
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 0 0.2em 0 0.2em;
  color: #ffffff;
  border: 6px solid #0079C8; }

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  font-size: 2rem;
  display: block;
  background: url(../img/date.png) no-repeat;
  width: 50px;
  height: 50px;
  z-index: 100000;
  margin-top: 10px;
  border-width: thin; }

input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

@media only screen and (max-width: 1079px) and (min-width: 981px) {
  body {
    zoom: 80%; }

  .modal-backdrop {
    width: 100%;
    height: 100%; }

  .foo {
    display: none; } }
@media only screen and (max-width: 980px) and (min-width: 600px) {
  body {
    zoom: 70%; }

  .modal-backdrop {
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
